@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">YİĞİT KILINÇ, ATAKAN EKİZ, ÖMER MUZTÜRK</h1>
    <p>
        TOP SECRET 
        <a href="https://ankarasehir.saglik.gov.tr/TR-356414/fadime-kilinc-egitim-gorevlisi.html">
            VİDEO İÇİN TIKLA
        </a>.
    </p>

    <!-- Yan yana 3 resim -->
    <div style="display:flex; justify-content:center; gap:20px; margin-top:20px;">
        <img src="~/images/Ekran Resmi 2025-10-01 20.30.39.png" alt="Foto 1" style="max-width:200px;" />
        <img src="~/images/Ekran Resmi 2025-10-01 20.13.09.png" alt="Foto 1" style="max-width:200px;"/>
        <img src="~/images/Ekran Resmi 2025-10-01 20.17.33.png" alt="Foto 2" style="max-width:200px;"/>
        <img src="~/images/Ekran Resmi 2025-10-01 20.17.44.png" alt="Foto 3" style="max-width:200px;"/>
        <img src="~/images/Ekran Resmi 2025-10-01 20.30.59.png" alt="Foto 1" style="max-width:200px;" />

    </div>
</div>